.gradient-backgrount {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ad);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
   body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   }
   .box {
    width: 300px;
    border-bottom: 20px solid #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   }

   .box h2 {
color: #ffffff;
background: #25bcff;
padding: 10px 20px;
font-size: 20px;
font-weight: 700;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
   }
   .box ul {
    position: relative;
    background: #c8cad1;

    &:hover li {
        opacity: 0.1;
    }
}

.box ul li {
 list-style: none;
 padding: 10px; 
 width: 100%;
 background:#ffffff;
 transition: transform 0.5s;

&:hover {
    transform: scale(1.1);
z-index: 5;
background: #25bcff;
box-shadow: 0.5px 25px rgba(0,0,0, 0.2);
color: #ffffff;
opacity: 1;
}

&:hover span {
    backgrount:#ffffff;
    color: #23a6d5;
}
}

.box ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
